%section.container
  %ul.articles
    - @results.each do |article|
      %li
        %h3.article-title
          = article.title
        .article-date

        .article-body
          %p
            = DateTime.parse(article.publication_date.to_s)
          %p
            = article.fields[:trailText]
          %a{href: "article/#{article.id}" }
            Read more
