%section.container
  %ul.articles
    - @results.each do |article|
      %li
        %h3.article-title
          = article.title
        .article-date

        .article-body
          %p
            = article.fields[:trailText]
          %p.publication_date
            Published at
            = DateTime.parse(article.publication_date.to_s).strftime("%d %b %Y - %H:%M") \
            %a{href: "article/#{article.id}" }
              Read more
