!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %title Guardian Low Data

    %link{rel: 'stylesheet', href: '/assets/app.scss'}

  %body
    %header
      %h1
        %a.home-link{href: '/'}
          Guardian Low Data

    = yield
