!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %title Guardian Low Data

    :css
      body {
        padding: 8px 16px 32px;
      }

      header h1 {
        margin-top: 0;
      }
      ul.articles {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      article img,
      article iframe {
        width: 100%;
        height: auto;
      }

      .publication_date,
      .back-link {
        font-size: 75%;
      }

      .back-link {
        margin-bottom: 16px;
      }

      .pagination a {
          color: black;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
          transition: background-color .3s;
      }

      .pagination a.active {
          background-color: #4CAF50;
          color: white;
      }

      .pagination a:hover:not(.active) {background-color: #ddd;}
  %body
    %header
      %h1 Guardian Low Data
    = yield
